#root-container {
    background-color: #5DC0DB;
    height: 100vh;
}

#app-container {
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#app-title {
    font-family: "Montserrat", sans-serif;
    font-size: 80px;
    margin-bottom: 30px;
    text-align: center;
    color: white;
}

hr {
    width: 50%;
    color: white;
}

button {
    margin-top: 50px;
    border: 2px solid white;
    font-size: 25px;
    padding: 10px 40px;
    font-family: "Montserrat", sans-serif;
    border-radius: 5px;
}

#footer {
    margin-top: 10px;
}

a:visited {
    color: white;
}

a:link {
    color: white;
}

@media (max-width:768px) {
    #app-title {
        font-family: "Montserrat", sans-serif;
        font-size: 60px;
        margin-bottom: 30px;
        text-align: center;
        color: white;
    }

    button {
        font-size: 20px;
        padding: 8px 30px;
    }
}
